{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "parser": "babel-eslint",
      "extends": "airbnb",
      "env": {
        "browser": true,
        "jest": true,
        "node": true
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "jsx-a11y/href-no-hash": [0],
        "jsx-a11y/click-events-have-key-events": [0],
        "jsx-a11y/anchor-is-valid": [ "error", {
          "components": [ "Link" ],
          "specialLink": [ "to" ]
        }],
        "jsx-a11y/no-static-element-interactions": [0],
        "react/react-in-jsx-scope": [0],
        "react/forbid-prop-types": [0],
        "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
        "import/extensions": [0],
        "import/no-unresolved": [0],
        "class-methods-use-this": [0]
      },
      "parserOptions": {
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true
        }
      }
    }
  ],
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/array-type": ["error", { "default": "array-simple" }],
    "@typescript-eslint/explicit-member-accessibility": ["error", { "accessibility": "no-public" }],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-parameter-properties": 0, // ["error", { "allows": ["readonly"] }]
    "react/react-in-jsx-scope": 0,
  }
}
