{
  "bracketSpacing": true,
  "eslintIntegration": true,
  "jsxBracketSameLine": true,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "stylelintIntegration": true,
  "trailingComma": "all"
}
